.chat-bot-message {
	background:
		linear-gradient(white, white) padding-box,
		linear-gradient(to right, #abff9f, #9fffff) border-box;
	border-radius: 50em;
	border: 2px solid transparent;
}

.chat-loader {
	width: 40px;
	aspect-ratio: 2;
	--_g: no-repeat radial-gradient(circle closest-side, #14a019 90%, #fff);
	background:
		var(--_g) 0% 50%,
		var(--_g) 50% 50%,
		var(--_g) 100% 50%;
	background-size: calc(100% / 3) 50%;
	animation: l3 1s infinite linear;
}

.box-shadow {
	box-shadow:
		rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@keyframes l3 {
	20% {
		background-position:
			0% 0%,
			50% 50%,
			100% 50%;
	}

	40% {
		background-position:
			0% 100%,
			50% 0%,
			100% 50%;
	}

	60% {
		background-position:
			0% 50%,
			50% 100%,
			100% 0%;
	}

	80% {
		background-position:
			0% 50%,
			50% 50%,
			100% 100%;
	}
}

.chat-message p {
	margin: 0;
}
