.btn_border {
	border: 1.22px solid #acacac;
}
.textfield_border {
	border: 1.22px solid #acacac;
}

.textfield_border2 {
	border: 0.81px solid #acacac;
}

.bottom_border {
	border-top: 0.81px solid #000000;
}
