/* Label animation styles */
.anim-label {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-wrap: nowrap;
	text-align: left;
	overflow: hidden;
	pointer-events: none;
	z-index: 0;
}

.anim-label.activelabel {
	display: none;
}

.anim-label > span {
	position: relative;
	animation: placeholderAnimation 2.2s infinite;
}

@keyframes placeholderAnimation {
	0% {
		opacity: 0;
		top: 25px;
	}
	50% {
		opacity: 1;
		top: 0px;
	}
	100% {
		opacity: 0;
		top: -25px;
	}
}

@media (max-width: 992px) {
	.anim-label > span {
		animation: placeholderAnimation 2.2s infinite;
	}
}
