/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Work Sans';
  src:
    local('Work Sans'),
    url('./assets/font/WorkSans-Regular.ttf') format('truetype');
} */

:root {
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--nav-width: 68px;

	--prim-grad: linear-gradient(180deg, #c6ff8d 19%, #89d4fe 100%);
	--prim-grad-cont-dark: linear-gradient(180deg, #2f5d00 0%, #003a5c 100%);
	--prim-grad-cont-light: linear-gradient(180deg, #eeffde 0%, #def3ff 100%);
	--prim-grad-dim: linear-gradient(180deg, #bcffbe 0%, #bce6ff 100%);
	--prim-grad-var: linear-gradient(180deg, #618b37 0%, #376d8c 100%);
	--primary: rgba(14, 135, 18, 1);
	--prim-sol: rgba(118, 255, 122, 1);
	--prim-sol-cont-light: rgba(222, 248, 223, 1);
	--prim-sol-cont-dark: rgba(25, 43, 26, 1);
	--prim-sol-dim: rgba(194, 220, 195, 1);
	--prim-sol-var: rgba(68, 76, 88, 1);

	--secondary: rgba(66, 133, 244, 1);
	--sec-cont-light: rgba(216, 231, 255, 1);
	--sec-cont-dark: rgba(17, 29, 49, 1);
	--sec-dim: rgba(184, 205, 239, 1);
	--sec-var: rgba(59, 74, 99, 1);

	--error: rgba(248, 61, 51, 1);
	--err-cont-light: rgba(249, 222, 220, 1);
	--err-cont-dark: rgba(65, 14, 11, 1);

	--surf-dim: rgba(222, 216, 225, 1);
	--surf: rgba(254, 247, 255, 1);
	--surf-bri: rgba(254, 247, 255, 1);

	--surf-cont-lower: rgba(255, 255, 255, 1);
	--surf-cont-low: rgba(247, 242, 250, 1);
	--surf-cont: rgba(243, 237, 247, 1);
	--surf-cont-high: rgba(236, 230, 240, 1);
	--surf-cont-higher: rgba(230, 224, 233, 1);
	--surf-dark: rgba(29, 27, 32, 1);
	--surf-var: rgba(73, 69, 79, 1);

	--outl: rgba(121, 116, 126, 1);
	--outl-var: rgba(121, 116, 126, 1);

	--inv-surf-light: rgba(245, 239, 247, 1);
	--inv-surf-dark: rgba(50, 47, 53, 1);
	--inv-prim-grad: linear-gradient(90deg, #deffbc 0%, #bce6ff 100%);
	--gray: rgba(230, 230, 230, 1);
	--scrim: rgba(0, 0, 0, 1);
	--shd: rgba(0, 0, 0, 1);

	--bg-white: rgba(255, 255, 255, 1);
	--bg-black: rgba(18, 18, 18, 1);
}

.hero-gradient {
	background: radial-gradient(
		circle at 50% -100%,
		#76ff7a,
		#8fff8e,
		#a5ffa1,
		#ccffc7,
		#efffec,
		#ffffff,
		#ffffff
	); /* made at https://learnui.design/tools/gradient-generator.html */
}
.overflow-hide::-webkit-scrollbar {
	display: none !;
}
.overflow-hide {
	scrollbar-width: none;
}
html {
	scroll-behavior: smooth;
}

@media print {
	#jsxContent > * {
		margin-bottom: 20px; /* Space between sections */
	}
	#jsxContent {
		margin: 0;
		padding: 0;

		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 100%;
		height: 100vh;
		page-break-before: auto;

		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
	}
	@page {
		size: A4;
		margin: 10mm;
	}
}
