.container {
	display: flex;
	max-width: 389px;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: center;
}

.header {
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family:
		Work Sans,
		sans-serif;
	text-align: center;
}

.title {
	color: var(--Text-Primary, #1a1a1a);
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: -0.48px;
}

.subtitle {
	color: var(--Text-Secondary, #666);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	margin-top: 8px;
}

.content {
	display: flex;
	margin-top: 32px;
	width: 100%;
	flex-direction: column;
}

.socialButtons {
	display: flex;
	width: 100%;
	align-items: start;
	gap: 24px;
	justify-content: center;
}

.socialButton {
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.084);
	display: flex;
	height: 72px;
	align-items: center;
	cursor: pointer;
	gap: 16px;
	justify-content: center;
	flex: 1;
	flex-basis: 0%;
	border: 1px solid rgba(0, 0, 0, 0.12);
}

.socialIconWrapper {
	border-radius: 10px;
	background-color: #fff;
	align-self: stretch;
	display: flex;
	align-items: center;
	justify-content: center;
}

.socialIcon {
	aspect-ratio: 1;
	object-fit: contain;
	object-position: center;
	width: 24px;
	height: 24px;
}

.divider {
	display: flex;
	margin-top: 24px;
	width: 100%;
	align-items: center;
	gap: 8px;
	color: #121212;
	white-space: nowrap;
	justify-content: center;
	font:
		400 14px Work Sans,
		sans-serif;
}

.dividerLine {
	align-self: stretch;
	height: 1px;
	flex: 1;
	flex-basis: 0%;
	margin: auto 0;
	border: 1px solid rgba(0, 0, 0, 0.12);
}

.dividerText {
	align-self: stretch;
	margin: auto 0;
}

.inputGroup {
	display: flex;
	margin-top: 24px;
	width: 100%;
	gap: 24px;
	flex-direction: column;
	font-family:
		Work Sans,
		sans-serif;
	color: var(--Body-text, rgba(18, 18, 18, 0.66));
	line-height: 1.4;
}

.inputLabel {
	font-size: 12px;
	font-weight: 500;
}

.inputField {
	align-self: stretch;
	flex: 1;
	border-radius: 8px;
	border: 1px solid var(--Border-Default, #e6e6e6);
	background: var(--Neutral-Neutral-100, #fff);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	margin-top: 8px;
	gap: 12px;
	font-size: 14px;
	font-weight: 400;
	padding: 16px;
}

.loginButton {
	align-self: stretch;
	border-radius: 4px;
	background-color: #76ff7a;
	margin-top: 24px;
	width: 100%;
	gap: 8px;
	color: black;
	padding: 16px 32px;
	font: 500 20px/1.2 Work Sans;
	border: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.socialText {
	display: none;
}

@media (max-width: 991px) {
	.container {
		margin-top: -14px;
		background-color: white;
		max-width: unset;
		padding: 24px 16px;
		border-radius: 8px 8px 0 0;
		width: 100%;
	}
}

@media (max-width: 541px) {
	.header {
		align-items: flex-start;
		width: 100%;
	}

	.socialButtons {
		flex-direction: column;
	}

	.container {
		margin: 0;
		padding: 0;
	}

	.socialButton {
		padding: 13px 0;
		width: 100%;
	}

	.socialIconWrapper {
		gap: 12px;
	}

	.title {
		margin: 0;
	}

	.content {
		margin-top: 8px;
	}

	.subtitle {
		text-align: left;
	}

	.footerTitle {
		margin: 24px 0;
	}

	.socialText {
		display: block;
	}
}
