.frame {
	display: flex;
	max-width: 389px;
	flex-direction: column;
	justify-content: start;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.header {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: start;
}

.title {
	color: var(--Text-Primary, #1a1a1a);
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: -0.48px;
	align-self: center;
}

.infoBox {
	justify-content: center;
	border-radius: 12px;
	background: var(--Secondary-Blue-0, #f5f9ff);
	display: flex;
	margin-top: 8px;
	flex-direction: column;
	overflow: hidden;
	padding: 16px 24px 16px 16px;
}

.infoText {
	color: var(--Primary, #121212);
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}

.phoneNumber {
	display: flex;
	margin-top: 20px;
	width: 100%;
	align-items: center;
	gap: 8px;
	font-size: 20px;
	color: rgba(14, 60, 135, 1);
	font-weight: 500;
	justify-content: center;
	flex-wrap: wrap;
}

.phoneNumberText {
	align-self: stretch;
	flex: 1;
	flex-basis: 0%;
	margin: auto 0;
}

.phoneIcon {
	aspect-ratio: 1;
	object-fit: contain;
	object-position: center;
	width: 24px;
	align-self: stretch;
	margin: auto 0;
	cursor: pointer;
}

.otpSection {
	display: flex;
	margin-top: 32px;
	width: 100%;
	flex-direction: column;
	justify-content: start;
}

.otpInput {
	background-color: rgba(255, 255, 255, 1);
	display: flex;
	width: 100%;
	flex-direction: column;
	font-weight: 500;
	line-height: 1.4;
	justify-content: start;
}

.otpLabel {
	color: var(--Body-text, rgba(18, 18, 18, 0.66));
	font-size: 12px;
}

.otpFields {
	display: flex;
	margin-top: 8px;
	width: 100%;
	align-items: start;
	gap: 8px;
	font-size: 14px;
	color: var(--Grey-3, #b2b2b2);
	font-weight: 400;
	white-space: nowrap;
	text-align: center;
	justify-content: start;
}

.otpField {
	align-self: stretch;
	flex: 1;
	border-radius: 4px;
	border: 1px solid var(--Grey-1, #d1d1d1);
	background-color: #fff;
	min-height: 56px;
	max-width: 91px;
	width: 100%;
	gap: 12px;
	font-size: 14px;
	box-sizing: border-box;
}

.otpField:focus-visible {
	outline: none;
}

.resendText {
	color: rgba(18, 18, 18, 0.6);
	text-align: right;
	margin-top: 8px;
	font-size: 16px;
	font-weight: 500;
}

.actionSection {
	display: flex;
	margin-top: 24px;
	width: 100%;
	flex-direction: column;
	justify-content: start;
}

.signUpButton {
	align-self: stretch;
	border-radius: 4px;
	background: var(--Primary-Solid, #76ff7a);
	width: 100%;
	gap: 8px;
	font-size: 20px;
	color: var(--Neutral-Neutral-10, #1a1a1a);
	font-weight: 500;
	line-height: 1.2;
	padding: 16px 32px;
}

.termsText {
	color: var(--Body-text, rgba(18, 18, 18, 0.66));
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: -0.32px;
	margin-top: 16px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.resendCode {
	border: none;
	color: #000;
	font-size: 16px;
	font-weight: 500;
	background-color: unset;
	cursor: pointer;
}

.otp_error {
	border: 1px solid red;
}

@media (max-width: 768px) {
	.otpField {
		max-width: 76px;
	}

	.otpInput {
		padding: 0px 16px 0px 16px;
	}

	.resendText {
		text-align: left;
		padding-left: 16px;
	}

	.infoBox {
		background-color: #f5fff5;
	}

	.infoText {
		color: #666666;
	}

	.phoneNumber {
		color: #0e8712;
	}

	.phoneIcon {
		filter: sepia(100%) saturate(400%) hue-rotate(90deg) brightness(85%);
	}
}

@media (max-width: 541px) {
	.title {
		text-align: left;
		width: 100%;
		margin-bottom: 0;
	}

	.infoBox {
		margin-top: 12px;
	}

	.otpSection {
		margin-top: 24px;
	}

	.resendText {
		font-weight: 400;
	}

	.resendCode {
		color: #0e8712;
	}
}
